{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ project.name }}{% endblock %}

{% block guideline %}
    {{ parent() }}
    <li class="active">{{ project.name }}</li>
{% endblock %}

{% block project %}
    {% if project.icon != null %}
	    <div class="thumbnail pull-left hidden-xs">
		    <img src="{{ app.request.basePath ~ '/uploads/img/' ~ project.icon.id ~ '.' ~ project.icon.extension }}" alt="{{ project.icon.alt }}" />
	    </div>
    {% endif %}
	<h1>{{ project.name }}
	    {% if is_granted('ROLE_ADMIN') %}
	    	<div class="btn-group">
			    <a href="{{ path('edit_project', { 'slug': project.slug }) }}" class="btn btn-default btn-xs">Edit</a>
			    <a href="{{ path('members_home', { 'slug': project.slug }) }}" class="btn btn-default btn-xs">Members</a>
			    {% if project.icon == null %}
			        <a href="{{ path('set_icon', { 'slug': project.slug }) }}" class="btn btn-default btn-xs">Add an icon</a>
		        {% else %}
		            <div class="btn-group">
		                <a href="{{ path('set_icon', { 'slug': project.slug }) }}" class="btn btn-default btn-xs">Change icon</a> 
		                <a href="{{ path('delete_icon', { 'slug': project.slug }) }}" class="btn btn-default btn-xs">Delete icon</a>
	                </div>
	            {% endif %}
			    <a href="{{ path('delete_project', { 'slug': project.slug }) }}" class="btn btn-default btn-xs">Delete</a>
			</div>
	    {% endif %}				
	</h1>
	<p>
		<strong>Creator:</strong> {{ project.creator.firstName ~ " " ~ project.creator.name }}<br />
		{% if project.members|length > 0 %}
			<strong>Members:</strong> 
			{% for member in project.members %} 
				{{ member.firstName ~ " " ~ member.name }} 
				{% if loop.last != true %}
					, 
				{% endif %} 
			{% endfor %} <br />
		{% endif %}
	    {% if project.website != null %}
		    <strong>Website:</strong> <a href="{{ project.website }}">{{ project.website }}</a><br />
	    {% endif %}
	</p>
{% endblock %}

{% block body %}
    {{ render(controller("PhiTracProjectBundle:Items:getItemsDashboard", { 'slug': project.slug })) }}
{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/tooltip.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/popover.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dashboard_project.js') }}" type="text/javascript"></script>
{% endblock %}
