	<div class="row">
		<section class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">
						Bugs
						<a href="{{ path('add_item', { 'slug': project.slug, 'type': 'BUG' }) }}" class="btn btn-default btn-xs">Report a bug</a>
					</h3>
				</div>
				<div class="list-group" id="list-bugs">
				    {% for item in project.items %}
				        {% if item.type=='BUG' and item.status!='DONE' %}
				            <a href="{{ path('show_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="list-group-item">{{ item.title }} 
				                {% if item.priority=='URGENT' %}
				                    <span class="label label-danger">Urgent</span>
			                    {% endif %}
			                    {% if item.priority=='IMPORTANT' %}
				                    <span class="label label-warning">Important</span>
			                    {% endif %}
						        <button class="btn btn-default btn-xs pull-right" style="display: none;" id="btn_close">
						            Close
						            <span class="hidden">{{ "http://" ~ app.request.httpHost ~ path('close_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}</span>
					            </button>
					        </a>
			            {% endif %}
			        {% endfor %}
				</div>
			</div>
		</section>

		<section class="col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						To do
						<a href="{{ path('add_item', { 'slug': project.slug, 'type': 'TODO' }) }}" class="btn btn-default btn-xs">Add a task</a>
					</h3>
				</div>
				<div class="list-group" id="list-todo">
				    {% for item in project.items %}
				        {% if item.type=='TODO' and item.status!='DONE' %}
				            <a href="{{ path('show_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="list-group-item" id="item">{{ item.title }}
				                {% if item.priority=='URGENT' %}
				                    <span class="label label-danger">Urgent</span>
			                    {% endif %}
			                    {% if item.priority=='IMPORTANT' %}
				                    <span class="label label-warning">Important</span>
			                    {% endif %}
						        <button class="btn btn-default btn-xs pull-right" style="display:none;" id="btn_close">
						            Close
						            <span class="hidden">{{ "http://" ~ app.request.httpHost ~ path('close_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}</span>
					            </button>
					        </a>
			            {% endif %}
			        {% endfor %}
				</div>
			</div>
		</section>
	</div>

	<div class="row">
		<section class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title">Done</h3>
				</div>
				<div class="list-group">
				    {% for item in project.items %}
				        {% if item.status=='DONE' %}
				            {% if item.type=='BUG' %}
				                <a href="{{ path('show_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="list-group-item list-group-item-danger">{{ item.title }}</a>
			                {% endif %}
			                {% if item.type=='TODO' %}
				                <a href="{{ path('show_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="list-group-item list-group-item-info">{{ item.title }}</a>
			                {% endif %}
			            {% endif %}
			        {% endfor %}					
				</div>
			</div>
		</section>
	</div>



