{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ project.name }}{% endblock %}

{% block project %}
   {{ render(controller("PhiTracProjectBundle:Project:header", {"project": project})) }}
{% endblock %}

{% block guideline %}
    {{ parent() }}
    <li><a href="{{ path('home_project', { 'slug': project.slug }) }}">{{ project.name }}</a></li>
    <li class="active">{{ item.title }}</li>
{% endblock %}

{% block body %}
    {% if item.type=="BUG" %}
        <div class="panel panel-danger">
    {% endif %}
    {% if item.type=="TODO" %}
        <div class="panel panel-info">
    {% endif %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ item.title }} 
                {% if item.priority=='URGENT' %}
                    <span class="label label-danger">Urgent</span>
                {% endif %}
                {% if item.priority=='IMPORTANT' %}
                    <span class="label label-warning">Important</span>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            {% if item.description==null %}
                <i>No description available.</i>
            {% else %}
                {{ item.description|nl2br }}
            {% endif %}
        </div>
         {% if is_granted('ROLE_DEV') %}
            <div class="panel-footer">
                {% if item.status!="DONE" %}
                     {% if is_granted('ROLE_DEV') %}
                        <form method="post" {{ form_enctype(form) }}>
                            <div class="input-group col-lg-3">
                                <span class="input-group-btn">
                                    <a href="{{ path('edit_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Edit</a>
                                    <a href="{{ path('delete_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Delete</a>
                                </span>
                                {{ form_widget(form.status, { "attr": { "class": "form-control"}}) }}
                                <span class="input-group-btn">
                                    <input class="btn btn-default" type="submit" value="Save" />
                                    <a href="{{ path('close_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Close</a>
                                </span>
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    {% endif %}
                {% else %}
                    <div class="input-group col-lg-3">
                        <span class="input-group-btn">
                             {% if is_granted('ROLE_DEV') %}
                                <a href="{{ path('edit_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Edit</a>
                                <a href="{{ path('delete_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Delete</a>
                            {% endif %}
                                <a href="{{ path('reopen_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Reopen</a>
                        </span>
                    </div>
                {% endif %}
            </div>
        {% else %}
            {% if is_granted('ROLE_TESTER') and item.status=="DONE" %}
                <div class="panel-footer">
                    <div class="input-group col-lg-3">
                        <span class="input-group-btn">
                                <a href="{{ path('reopen_item', { 'project_slug': project.slug, 'item_slug': item.slug }) }}" class="btn btn-default">Reopen</a>
                        </span>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock%}
